menu "MQTT App Configuration"

config ENABLE_MQTT_TLS
    bool "Enable MQTT TLS"
    default n
    help
        Enable MQTT TLS support.

config MQTT_APP_URI
    string "MQTT Broker URI"
    default "mqtt://localhost:1883"
    help
        The URI of the MQTT broker to connect to.

config MQTT_APP_FALLBACK_URI
    string "MQTT Broker fallback URI"
    default "mqtt://localhost:1883"
    help
        The fallback URI of the MQTT broker to connect to.

config MQTT_APP_HOSTNAME
    string "MQTT Broker HOSTNAME"
    default "localhost"
    help
        The HOSTNAME of the MQTT broker to connect to.

config MQTT_MAX_RECONNECT_ATTEMPTS
    int "MQTT MAX RECONNECT ATTEMPTS"
    default 10
    help
        Max reconnect attempts(doubled because counter will increase in both disconnect and error event)

config MQTT_MEMORY_DEBUG
    bool "Enable MQTT Memory Debugging"
    default n
    help
        Enable MQTT Memory Debugging Logs.

choice
    prompt "Select MQTT Protocol Version"
    default MQTT_PROTOCOL_V_5

config MQTT_PROTOCOL_V_3_1
    bool "MQTT 3.1"
    help
        Use MQTT Version 3.1 (MQTT_PROTOCOL_V_3_1) for MQTT communications.

config MQTT_PROTOCOL_V_3_1_1
    bool "MQTT 3.1.1"
    help
        Use MQTT Version 3.1.1 (MQTT_PROTOCOL_V_3_1_1) for MQTT communications.

config MQTT_PROTOCOL_V_5
    bool "MQTT 5.0"
    help
        Use MQTT Version 5.0 (MQTT_PROTOCOL_V_5) for MQTT communications.

endchoice

endmenu
