.pio
.vscode
.cache/
compile_commands.json
private_config.ini
venv
.unpacked_fs
flash_contents.bin
mklittlefs
__pycache__
build/
.clangd
.nvim.lua
managed_components/
sdkconfig
sdkconfig.old
components/pb/nanopb/
server_certs/ca_key.pem
.token
*.orig
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
.idea/
*.bak
bird_fs/
changelog.txt
mqtt_certs

# Ignore symbolic links
littlefs
!littlefs/

hash.json
