CONFIG_IDF_TARGET="esp32c3"
CONFIG_IDF_TARGET_ESP32C3=y
CONFIG_IDF_FIRMWARE_CHIP_ID=0x0005
CONFIG_APP_PROJECT_VER="0.7.25"
CONFIG_SW3566_FIRMWARE_NUMERIC_VERSION=2025061001
CONFIG_SW3566_FIRMWARE_SEMVER="0.2.90"
CONFIG_SW3566_FIRMWARE_CHECKSUM="fa93c8b008138aa5b14c3404f9b032116a9a8672"
CONFIG_FPGA_FIRMWARE_NUMERIC_VERSION=2025011414
CONFIG_FPGA_FIRMWARE_SEMVER="0.2.8"
CONFIG_ZRLIB_SEMVER="1.7.0"
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
# CONFIG_ESP_WIFI_NVS_ENABLED is not set
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=4
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=8
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=16
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=5744
CONFIG_LWIP_TCP_WND_DEFAULT=5744
CONFIG_LWIP_TCP_RTO_TIME=800
# CONFIG_LWIP_TIMERS_ONDEMAND is not set
CONFIG_LWIP_MAX_SOCKETS=13
CONFIG_LWIP_TCP_TMR_INTERVAL=50
CONFIG_WIFI_RECONNECT_LOOP_INTERVAL_MS=600000
CONFIG_WIFI_ABORT_WAIT_MS=300000
CONFIG_ESP_MAIN_TASK_STACK_SIZE=4096
CONFIG_ESP_TIMER_TASK_STACK_SIZE=4096
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096
CONFIG_FREERTOS_TASK_NOTIFICATION_ARRAY_ENTRIES=2
CONFIG_MQTT_USE_CUSTOM_CONFIG=y
CONFIG_MQTT_TASK_PRIORITY=20
CONFIG_MQTT_POLL_READ_TIMEOUT_MS=6000
CONFIG_MQTT_EVENT_QUEUE_SIZE=2
# CONFIG_LWIP_DHCP_DOES_ARP_CHECK is not set
CONFIG_IONBRIDGE_WIFI_MAX_TX_POWER=84
CONFIG_DEINIT_BLE_ON_STOP_ADVERTISING=y
CONFIG_WIFI_CONNECT_SET_BSSID=y
CONFIG_ENABLE_WEB_SERVER=y
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_LWIP_NETIF_LOOPBACK=y
CONFIG_LWIP_LOOPBACK_MAX_PBUFS=4
CONFIG_LWIP_TCP_MSS=1200
CONFIG_LWIP_TCP_TMR_INTERVAL=80
CONFIG_LWIP_TCP_MSL=40000
CONFIG_BT_NIMBLE_MSYS_1_BLOCK_COUNT=4
CONFIG_BT_NIMBLE_MSYS_2_BLOCK_COUNT=0
CONFIG_BT_NIMBLE_MSYS_2_BLOCK_SIZE=0
CONFIG_BT_NIMBLE_TRANSPORT_ACL_FROM_LL_COUNT=12

CONFIG_ENABLE_MQTT_TLS=y
CONFIG_MQTT_APP_URI="mqtts://iot-broker.ifanrusercontent.com:8883"
CONFIG_MQTT_APP_HOSTNAME="iot-broker.ifanrusercontent.com"
