CONFIG_IDF_TARGET="esp32c3"
CONFIG_IDF_TARGET_ESP32C3=y
CONFIG_IDF_FIRMWARE_CHIP_ID=0x0005
CONFIG_APP_PROJECT_VER="0.6.42"
CONFIG_SW3566_FIRMWARE_NUMERIC_VERSION=2025010606
CONFIG_SW3566_FIRMWARE_SEMVER="0.2.48"
CONFIG_SW3566_FIRMWARE_CHECKSUM="176eea3f83195d9b8b874438f7f3f84313fd4227"
CONFIG_FPGA_FIRMWARE_NUMERIC_VERSION=2024122719
CONFIG_FPGA_FIRMWARE_SEMVER="0.2.7"
CONFIG_ZRLIB_SEMVER="1.6.7"
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
# CONFIG_ESP_WIFI_NVS_ENABLED is not set
# CONFIG_ESP_WIFI_AMPDU_TX_ENABLED is not set
# CONFIG_ESP_WIFI_AMPDU_RX_ENABLED is not set
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=4
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=8
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=16
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=5744
CONFIG_LWIP_TCP_WND_DEFAULT=5744
CONFIG_WIFI_RECONNECT_LOOP_INTERVAL_MS=18000000
CONFIG_ESP_MAIN_TASK_STACK_SIZE=4096
CONFIG_ESP_TIMER_TASK_STACK_SIZE=4096
CONFIG_SYSTEM_EVENT_TASK_STACK_SIZE=3072
CONFIG_FREERTOS_TASK_NOTIFICATION_ARRAY_ENTRIES=2
