menu "ESP Controller Configuration"

config FIRMWARE_HASH_LENGTH
    int "Firmware Hash Length"
    default 32
    help
        Length of the firmware hash.

config OTA_UPDATE_TIMEOUT
    int "OTA Update Timeout (ms)"
    default 60000
    help
        Timeout for the OTA update in milliseconds.

config OTA_CONFIRM_TIMEOUT
    int "OTA Confirm Timeout (ms)"
    default 90000
    help
        Timeout to confirm the OTA update in milliseconds.
        This value should be less than the value set for WATCHDOG_TIMEOUT.

config OTA_CONFIRM_REQUEST_TIMEOUT
    int "OTA Confirm Request Timeout (ms)"
    default 300000
    help
        Timeout to send the OTA confirm request in milliseconds.

config OTA_CONFIRM_REQUEST_INTERVAL
    int "OTA Confirm Request Interval (ms)"
    default 1000
    help
        Interval to check MQTT connection and send OTA confirm request in milliseconds.

endmenu
