CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_PERF=y
CONFIG_BOOTLOADER_LOG_LEVEL_ERROR=y
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_APP_EXCLUDE_PROJECT_NAME_VAR=y
CONFIG_APP_PROJECT_VER_FROM_CONFIG=y
CONFIG_ESPTOOLPY_NO_STUB=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/release-partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0xc000
CONFIG_WATCHDOG_TIMEOUT=2000
CONFIG_BLE_ATT_MTU=509
CONFIG_FIRMWARE_DOWNLOAD_ENDPOINT=""
CONFIG_OTA_RECV_TIMEOUT=120000
CONFIG_ENABLE_GLOBAL_LOGGING_COLLECTOR=y
CONFIG_ENABLE_REPORT_SYSLOG=y
CONFIG_SYSLOG_HOST=""
CONFIG_SYSLOG_PORT=65220
CONFIG_ENABLE_LOG_STDOUT=y
CONFIG_ADC_THRESHOLD_LOW=133
CONFIG_ADC_THRESHOLD_HIGH=138
CONFIG_ACTION_DEADZONE=98
CONFIG_POWER_BUDGET=160
CONFIG_DEVICE_POWER_COOLDOWN_TIME=60
CONFIG_OVERPROVISIONING_THRESHOLD=60
CONFIG_PORT_MANAGER_EVENT_QUEUE_SIZE=24
CONFIG_PORT_MANAGER_TASK_STACK_SIZE=3072
CONFIG_TELEMETRY_INTERVAL=60000
CONFIG_TEMPERATURE_LIMIT_OF_FLASH_WRITE=0
CONFIG_UART_PORT_NUM=1
CONFIG_UART_MESSAGE_SEND_ATTEMPTS=4
CONFIG_UART_MESSAGE_RECV_TIMEOUT_MS=400
CONFIG_UART_RXD=6
CONFIG_UART_RX_QUEUE_SIZE=10
CONFIG_UART_TXD=7
CONFIG_FPGA_AS_UART_SWITCH=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_SILENT=y
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_LOG_LEVEL_NONE=y
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1
# CONFIG_BT_NIMBLE_ROLE_CENTRAL is not set
# CONFIG_BT_NIMBLE_ROLE_OBSERVER is not set
CONFIG_BT_NIMBLE_NVS_PERSIST=y
CONFIG_BT_NIMBLE_GATT_MAX_PROCS=2
CONFIG_BT_CTRL_COEX_PHY_CODED_TX_RX_TLIM_EN=y
# CONFIG_GPTIMER_ISR_HANDLER_IN_IRAM is not set
# CONFIG_SPI_MASTER_ISR_IN_IRAM is not set
# CONFIG_SPI_SLAVE_ISR_IN_IRAM is not set
# CONFIG_ETH_USE_SPI_ETHERNET is not set
CONFIG_ESP_HTTPS_OTA_DECRYPT_CB=y
CONFIG_ESP32C3_REV_MIN_4=y
CONFIG_ESP32C3_UNIVERSAL_MAC_ADDRESSES_TWO=y
CONFIG_RTC_CLK_SRC_INT_8MD256=y
CONFIG_RTC_CLK_CAL_CYCLES=1024
# CONFIG_ESP_PHY_CALIBRATION_AND_DATA_STORAGE is not set
CONFIG_ESP_PHY_INIT_DATA_IN_PARTITION=y
CONFIG_ESP_PHY_RF_CAL_FULL=y
CONFIG_RINGBUF_PLACE_FUNCTIONS_INTO_FLASH=y
CONFIG_RINGBUF_PLACE_ISR_FUNCTIONS_INTO_FLASH=y
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y
# CONFIG_ESP_TASK_WDT_INIT is not set
# CONFIG_ESP_WIFI_SOFTAP_SUPPORT is not set
CONFIG_ESP_WIFI_SUITE_B_192=y
# CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT is not set
CONFIG_ESP_COREDUMP_ENABLE_TO_UART=y
CONFIG_FREERTOS_HZ=200
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=3072
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y
CONFIG_FREERTOS_RUN_TIME_COUNTER_TYPE_U64=y
CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
# CONFIG_LOG_COLORS is not set
CONFIG_LWIP_LOCAL_HOSTNAME="cp02"
# CONFIG_LWIP_DNS_SUPPORT_MDNS_QUERIES is not set
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=16
CONFIG_LWIP_DHCP_RESTORE_LAST_IP=y
CONFIG_LWIP_DHCP_COARSE_TIMER_SECS=4
# CONFIG_LWIP_DHCPS is not set
# CONFIG_LWIP_IPV6 is not set
CONFIG_LWIP_NETIF_LOOPBACK=y
CONFIG_LWIP_LOOPBACK_MAX_PBUFS=4
CONFIG_LWIP_TCP_MSS=1200
CONFIG_LWIP_TCP_TMR_INTERVAL=100
# CONFIG_LWIP_CHECKSUM_CHECK_ICMP is not set
CONFIG_LWIP_FALLBACK_DNS_SERVER_SUPPORT=y
CONFIG_LWIP_FALLBACK_DNS_SERVER_ADDRESS="74.82.42.42"
CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=2048
# CONFIG_MBEDTLS_SSL_KEEP_PEER_CERTIFICATE is not set
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_CMN=y
# CONFIG_MBEDTLS_SHA512_C is not set
# CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_ECDSA is not set
# CONFIG_MBEDTLS_KEY_EXCHANGE_ECDH_ECDSA is not set
# CONFIG_MBEDTLS_SSL_ALPN is not set
# CONFIG_MBEDTLS_CLIENT_SSL_SESSION_TICKETS is not set
# CONFIG_MBEDTLS_SERVER_SSL_SESSION_TICKETS is not set
# CONFIG_MBEDTLS_PEM_WRITE_C is not set
# CONFIG_MBEDTLS_X509_CRL_PARSE_C is not set
# CONFIG_MBEDTLS_X509_CSR_PARSE_C is not set
# CONFIG_MBEDTLS_ECP_DP_SECP192R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP224R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP384R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP521R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP192K1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP224K1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP256K1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_BP256R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_BP384R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_BP512R1_ENABLED is not set
CONFIG_MBEDTLS_POLY1305_C=y
CONFIG_MBEDTLS_CHACHA20_C=y
CONFIG_MBEDTLS_CHACHAPOLY_C=y
# CONFIG_MQTT_PROTOCOL_311 is not set
CONFIG_MQTT_PROTOCOL_5=y
CONFIG_MQTT_SKIP_PUBLISH_IF_DISCONNECTED=y
CONFIG_NEWLIB_NANO_FORMAT=y
# CONFIG_ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_1 is not set
# CONFIG_ESP_PROTOCOMM_SUPPORT_SECURITY_VERSION_2 is not set
# CONFIG_SPI_FLASH_ROM_DRIVER_PATCH is not set
CONFIG_SPI_FLASH_ROM_IMPL=y
# CONFIG_SPIFFS_USE_MTIME is not set
# CONFIG_WS_TRANSPORT is not set
# CONFIG_VFS_SUPPORT_SELECT is not set
# CONFIG_VFS_SUPPORT_TERMIOS is not set
# CONFIG_WIFI_PROV_BLE_SEC_CONN is not set
CONFIG_WIFI_PROV_STA_FAST_SCAN=y
CONFIG_NIMBLE_CPP_ENABLE_RETURN_CODE_TEXT=y
CONFIG_NIMBLE_CPP_ENABLE_GAP_EVENT_CODE_TEXT=y
CONFIG_NIMBLE_CPP_ENABLE_ADVERTISEMENT_TYPE_TEXT=y
# CONFIG_LITTLEFS_USE_MTIME is not set
CONFIG_ENABLE_WEB_SERVER=y
